@using ErpToolkit.Extensions
@model IEnumerable<ErpToolkit.Models.SIO.HealthData.DocumentoClinico>
@{
    ViewData["Title"] = "DocumentoClinico List";
}
@Html.AntiForgeryToken()
<br />
<table id="example" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DcClasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcIdPaziente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcIdEpisodio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcIdTipoDatoClinico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcValoreMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcValoreMassimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcValoreScelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcValoreTesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcCodiceReferto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcDataAcquisizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcOraAcquisizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcStatoDatoClinico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcDataValidazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcOraValidazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcSequenza)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DcClasse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcIdPaziente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcIdEpisodio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcIdTipoDatoClinico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcValoreMinimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcValoreMassimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcValoreScelta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcValoreTesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcCodiceReferto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcDataAcquisizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcOraAcquisizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcStatoDatoClinico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcDataValidazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcOraValidazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcSequenza)
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="loadModalWithContent('EditModale','/DocumentoClinico/ReadForEdit','@Html.DisplayFor(modelItem => item.Dc1Icode)')">Edit</a>
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="loadModalWithContent('DeleteModale','/DocumentoClinico/ReadForDelete','@Html.DisplayFor(modelItem => item.Dc1Icode)')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>&shy;</p>
<p>&shy;</p>

@Html.Script(@<link href="~/lib/datatables/datatables.css" rel="stylesheet">)
@Html.Script(@<script src="~/lib/datatables/datatables.js"></script>)
@Html.Script(
    @<script>
        $(document).ready(function () {
            $("#example").DataTable({

                "responsive": false, // disabilita funzione che adatta tabella a pagina e visualizza rimanenti colonne sotto
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,

                "columns": [
                    { "visible": true, "data": "DcClasse", "name": "DcClasse", "title": "Classe", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcIdPaziente", "name": "DcIdPaziente", "title": "Id Paziente", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcIdEpisodio", "name": "DcIdEpisodio", "title": "Id Episodio", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcIdTipoDatoClinico", "name": "DcIdTipoDatoClinico", "title": "Id Tipo Dato Clinico", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcValoreMinimo", "name": "DcValoreMinimo", "title": "Valore Minimo", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcValoreMassimo", "name": "DcValoreMassimo", "title": "Valore Massimo", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcValoreScelta", "name": "DcValoreScelta", "title": "Valore Scelta", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcValoreTesto", "name": "DcValoreTesto", "title": "Valore Testo", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcNote", "name": "DcNote", "title": "Note", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcCodiceReferto", "name": "DcCodiceReferto", "title": "Codice Referto", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcDataAcquisizione", "name": "DcDataAcquisizione", "title": "Data Acquisizione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcOraAcquisizione", "name": "DcOraAcquisizione", "title": "Ora Acquisizione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcStatoDatoClinico", "name": "DcStatoDatoClinico", "title": "Stato Dato Clinico", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcDataValidazione", "name": "DcDataValidazione", "title": "Data Validazione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcOraValidazione", "name": "DcOraValidazione", "title": "Ora Validazione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "DcSequenza", "name": "DcSequenza", "title": "Sequenza", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "edit", "name": ".", "title": "<a href=\"#\"  class=\"btn btn-primary\" onclick=\"loadModalWithContent(\'EditModale\',\'/DocumentoClinico/ReadForEdit\',\'\')\">Add</a>", "defaultContent": ".", "autoWidth": true, "searchable": false, "orderable": false },
                    { "visible": true, "data": "delete", "name": ".", "title": "", "defaultContent": ".", "autoWidth": true, "searchable": false, "orderable": false },
                ]

            });
        });
    </script>
)
