@model ErpToolkit.Models.SIO.Common.SelRichiesta
@{
    ViewData["Title"] = "Richiesta Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "Richiesta", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="SelRiIdUnitaRichiedente" class="control-label"></label>
                    <input asp-for="SelRiIdUnitaRichiedente" class="form-control" />
                    <span asp-validation-for="SelRiIdUnitaRichiedente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiIdPostazioneRichiedente" class="control-label"></label>
                    <input asp-for="SelRiIdPostazioneRichiedente" class="form-control" />
                    <span asp-validation-for="SelRiIdPostazioneRichiedente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiIdIstitutoRichiedente" class="control-label"></label>
                    <input asp-for="SelRiIdIstitutoRichiedente" class="form-control" />
                    <span asp-validation-for="SelRiIdIstitutoRichiedente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiIdOperatoreRichiedente" class="control-label"></label>
                    <input asp-for="SelRiIdOperatoreRichiedente" class="form-control" />
                    <span asp-validation-for="SelRiIdOperatoreRichiedente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiDataRichiesta" class="control-label"></label>
                    <input asp-for="SelRiDataRichiesta" class="form-control" />
                    <span asp-validation-for="SelRiDataRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiOraRichiesta" class="control-label"></label>
                    <input asp-for="SelRiOraRichiesta" class="form-control" />
                    <span asp-validation-for="SelRiOraRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiUrgenza" class="control-label"></label>
                    <input asp-for="SelRiUrgenza" class="form-control" />
                    <span asp-validation-for="SelRiUrgenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiOggetto" class="control-label"></label>
                    <input asp-for="SelRiOggetto" class="form-control" />
                    <span asp-validation-for="SelRiOggetto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiStatoRichiesta" class="control-label"></label>
                    <input asp-for="SelRiStatoRichiesta" class="form-control" />
                    <span asp-validation-for="SelRiStatoRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiIdTipoRichiesta" class="control-label"></label>
                    <input asp-for="SelRiIdTipoRichiesta" class="form-control" />
                    <span asp-validation-for="SelRiIdTipoRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiIdPaziente" class="control-label"></label>
                    <input asp-for="SelRiIdPaziente" class="form-control" />
                    <span asp-validation-for="SelRiIdPaziente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelRiIdEpisodio" class="control-label"></label>
                    <input asp-for="SelRiIdEpisodio" class="form-control" />
                    <span asp-validation-for="SelRiIdEpisodio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
