@model ErpToolkit.Models.SIO.Act.Prestazione
@{
    ViewData["Title"] = "Prestazione Edit";
}
<div class="modal-dialog" role="document">
    @Html.AntiForgeryToken()
    <!--GESTISCE AZIONI CLICK PULSANTE-->
    @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
    @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
    @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="titolo">@ViewData["Title"]</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="PrIdAttivitaRichiesta" class="control-label"></label>
                    <input asp-for="PrIdAttivitaRichiesta" class="form-control" />
                    <span asp-validation-for="PrIdAttivitaRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdAttivitaEseguita" class="control-label"></label>
                    <input asp-for="PrIdAttivitaEseguita" class="form-control" />
                    <span asp-validation-for="PrIdAttivitaEseguita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdGruppo" class="control-label"></label>
                    <input asp-for="PrIdGruppo" class="form-control" />
                    <span asp-validation-for="PrIdGruppo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrInEvidenza" class="control-label"></label>
                    <input asp-for="PrInEvidenza" class="form-control" />
                    <span asp-validation-for="PrInEvidenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdPaziente" class="control-label"></label>
                    <input asp-for="PrIdPaziente" class="form-control" />
                    <span asp-validation-for="PrIdPaziente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdEpisodio" class="control-label"></label>
                    <input asp-for="PrIdEpisodio" class="form-control" />
                    <span asp-validation-for="PrIdEpisodio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrStatoPrestazione" class="control-label"></label>
                    <input asp-for="PrStatoPrestazione" class="form-control" />
                    <span asp-validation-for="PrStatoPrestazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdOperatoreRichiedente" class="control-label"></label>
                    <input asp-for="PrIdOperatoreRichiedente" class="form-control" />
                    <span asp-validation-for="PrIdOperatoreRichiedente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdUnitaRichiedente" class="control-label"></label>
                    <input asp-for="PrIdUnitaRichiedente" class="form-control" />
                    <span asp-validation-for="PrIdUnitaRichiedente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdPostazioneRichiedente" class="control-label"></label>
                    <input asp-for="PrIdPostazioneRichiedente" class="form-control" />
                    <span asp-validation-for="PrIdPostazioneRichiedente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrDataRichiesta" class="control-label"></label>
                    <input asp-for="PrDataRichiesta" class="form-control" />
                    <span asp-validation-for="PrDataRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrOraRichiesta" class="control-label"></label>
                    <input asp-for="PrOraRichiesta" class="form-control" />
                    <span asp-validation-for="PrOraRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdRichiesta" class="control-label"></label>
                    <input asp-for="PrIdRichiesta" class="form-control" />
                    <span asp-validation-for="PrIdRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrDataPropostaEsecuzione" class="control-label"></label>
                    <input asp-for="PrDataPropostaEsecuzione" class="form-control" />
                    <span asp-validation-for="PrDataPropostaEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrOraPropostaEsecuzione" class="control-label"></label>
                    <input asp-for="PrOraPropostaEsecuzione" class="form-control" />
                    <span asp-validation-for="PrOraPropostaEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrDurataPrevista" class="control-label"></label>
                    <input asp-for="PrDurataPrevista" class="form-control" />
                    <span asp-validation-for="PrDurataPrevista" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrUrgenza" class="control-label"></label>
                    <input asp-for="PrUrgenza" class="form-control" />
                    <span asp-validation-for="PrUrgenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrNoteRichiesta" class="control-label"></label>
                    <input asp-for="PrNoteRichiesta" class="form-control" />
                    <span asp-validation-for="PrNoteRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrRoutine" class="control-label"></label>
                    <input asp-for="PrRoutine" class="form-control" />
                    <span asp-validation-for="PrRoutine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrDataAppuntamento" class="control-label"></label>
                    <input asp-for="PrDataAppuntamento" class="form-control" />
                    <span asp-validation-for="PrDataAppuntamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrOraAppuntamento" class="control-label"></label>
                    <input asp-for="PrOraAppuntamento" class="form-control" />
                    <span asp-validation-for="PrOraAppuntamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrNotePianificazione" class="control-label"></label>
                    <input asp-for="PrNotePianificazione" class="form-control" />
                    <span asp-validation-for="PrNotePianificazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrDataInizioEsecuzione" class="control-label"></label>
                    <input asp-for="PrDataInizioEsecuzione" class="form-control" />
                    <span asp-validation-for="PrDataInizioEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrOraInizioEsecuzione" class="control-label"></label>
                    <input asp-for="PrOraInizioEsecuzione" class="form-control" />
                    <span asp-validation-for="PrOraInizioEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrDataFineEsecuzione" class="control-label"></label>
                    <input asp-for="PrDataFineEsecuzione" class="form-control" />
                    <span asp-validation-for="PrDataFineEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrOraFineEsecuzione" class="control-label"></label>
                    <input asp-for="PrOraFineEsecuzione" class="form-control" />
                    <span asp-validation-for="PrOraFineEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrDataRefertazione" class="control-label"></label>
                    <input asp-for="PrDataRefertazione" class="form-control" />
                    <span asp-validation-for="PrDataRefertazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrOraRefertazione" class="control-label"></label>
                    <input asp-for="PrOraRefertazione" class="form-control" />
                    <span asp-validation-for="PrOraRefertazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdOperatoreEsecutore" class="control-label"></label>
                    <input asp-for="PrIdOperatoreEsecutore" class="form-control" />
                    <span asp-validation-for="PrIdOperatoreEsecutore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdUnitaEsecutrice" class="control-label"></label>
                    <input asp-for="PrIdUnitaEsecutrice" class="form-control" />
                    <span asp-validation-for="PrIdUnitaEsecutrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdPostazioneEsecutrice" class="control-label"></label>
                    <input asp-for="PrIdPostazioneEsecutrice" class="form-control" />
                    <span asp-validation-for="PrIdPostazioneEsecutrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrDurataEffettiva" class="control-label"></label>
                    <input asp-for="PrDurataEffettiva" class="form-control" />
                    <span asp-validation-for="PrDurataEffettiva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrCostoPrestazione" class="control-label"></label>
                    <input asp-for="PrCostoPrestazione" class="form-control" />
                    <span asp-validation-for="PrCostoPrestazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrNoteEsecuzione" class="control-label"></label>
                    <input asp-for="PrNoteEsecuzione" class="form-control" />
                    <span asp-validation-for="PrNoteEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrIdOperatorePianificatore" class="control-label"></label>
                    <input asp-for="PrIdOperatorePianificatore" class="form-control" />
                    <span asp-validation-for="PrIdOperatorePianificatore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrDataPianificazione" class="control-label"></label>
                    <input asp-for="PrDataPianificazione" class="form-control" />
                    <span asp-validation-for="PrDataPianificazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrOraPianificazione" class="control-label"></label>
                    <input asp-for="PrOraPianificazione" class="form-control" />
                    <span asp-validation-for="PrOraPianificazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrNote" class="control-label"></label>
                    <input asp-for="PrNote" class="form-control" />
                    <span asp-validation-for="PrNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrMobilita" class="control-label"></label>
                    <input asp-for="PrMobilita" class="form-control" />
                    <span asp-validation-for="PrMobilita" class="text-danger"></span>
                </div>
            </div>
            <br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
            <button type="button" class="btn btn-primary" onclick='updateModalWithContent("EditModale","/Prestazione/Save",@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model)))'>Salva</button>
        </div>
    </div>
</div>
