@model ErpToolkit.Models.SIO.Act.SelPrestazione
@{
    ViewData["Title"] = "Prestazione Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "Prestazione", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="SelPrIdAttivitaRichiesta" class="control-label"></label>
                    <input asp-for="SelPrIdAttivitaRichiesta" class="form-control" />
                    <span asp-validation-for="SelPrIdAttivitaRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdAttivitaEseguita" class="control-label"></label>
                    <input asp-for="SelPrIdAttivitaEseguita" class="form-control" />
                    <span asp-validation-for="SelPrIdAttivitaEseguita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdGruppo" class="control-label"></label>
                    <input asp-for="SelPrIdGruppo" class="form-control" />
                    <span asp-validation-for="SelPrIdGruppo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrInEvidenza" class="control-label"></label>
                    <input asp-for="SelPrInEvidenza" class="form-control" />
                    <span asp-validation-for="SelPrInEvidenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdPaziente" class="control-label"></label>
                    <input asp-for="SelPrIdPaziente" class="form-control" />
                    <span asp-validation-for="SelPrIdPaziente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdEpisodio" class="control-label"></label>
                    <input asp-for="SelPrIdEpisodio" class="form-control" />
                    <span asp-validation-for="SelPrIdEpisodio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrStatoPrestazione" class="control-label"></label>
                    <input asp-for="SelPrStatoPrestazione" class="form-control" />
                    <span asp-validation-for="SelPrStatoPrestazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdOperatoreRichiedente" class="control-label"></label>
                    <input asp-for="SelPrIdOperatoreRichiedente" class="form-control" />
                    <span asp-validation-for="SelPrIdOperatoreRichiedente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdUnitaRichiedente" class="control-label"></label>
                    <input asp-for="SelPrIdUnitaRichiedente" class="form-control" />
                    <span asp-validation-for="SelPrIdUnitaRichiedente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdPostazioneRichiedente" class="control-label"></label>
                    <input asp-for="SelPrIdPostazioneRichiedente" class="form-control" />
                    <span asp-validation-for="SelPrIdPostazioneRichiedente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrDataRichiesta" class="control-label"></label>
                    <input asp-for="SelPrDataRichiesta" class="form-control" />
                    <span asp-validation-for="SelPrDataRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrOraRichiesta" class="control-label"></label>
                    <input asp-for="SelPrOraRichiesta" class="form-control" />
                    <span asp-validation-for="SelPrOraRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdRichiesta" class="control-label"></label>
                    <input asp-for="SelPrIdRichiesta" class="form-control" />
                    <span asp-validation-for="SelPrIdRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrDataPropostaEsecuzione" class="control-label"></label>
                    <input asp-for="SelPrDataPropostaEsecuzione" class="form-control" />
                    <span asp-validation-for="SelPrDataPropostaEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrOraPropostaEsecuzione" class="control-label"></label>
                    <input asp-for="SelPrOraPropostaEsecuzione" class="form-control" />
                    <span asp-validation-for="SelPrOraPropostaEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrDurataPrevista" class="control-label"></label>
                    <input asp-for="SelPrDurataPrevista" class="form-control" />
                    <span asp-validation-for="SelPrDurataPrevista" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrUrgenza" class="control-label"></label>
                    <input asp-for="SelPrUrgenza" class="form-control" />
                    <span asp-validation-for="SelPrUrgenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrNoteRichiesta" class="control-label"></label>
                    <input asp-for="SelPrNoteRichiesta" class="form-control" />
                    <span asp-validation-for="SelPrNoteRichiesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrRoutine" class="control-label"></label>
                    <input asp-for="SelPrRoutine" class="form-control" />
                    <span asp-validation-for="SelPrRoutine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrDataAppuntamento" class="control-label"></label>
                    <input asp-for="SelPrDataAppuntamento" class="form-control" />
                    <span asp-validation-for="SelPrDataAppuntamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrOraAppuntamento" class="control-label"></label>
                    <input asp-for="SelPrOraAppuntamento" class="form-control" />
                    <span asp-validation-for="SelPrOraAppuntamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrNotePianificazione" class="control-label"></label>
                    <input asp-for="SelPrNotePianificazione" class="form-control" />
                    <span asp-validation-for="SelPrNotePianificazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrDataInizioEsecuzione" class="control-label"></label>
                    <input asp-for="SelPrDataInizioEsecuzione" class="form-control" />
                    <span asp-validation-for="SelPrDataInizioEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrOraInizioEsecuzione" class="control-label"></label>
                    <input asp-for="SelPrOraInizioEsecuzione" class="form-control" />
                    <span asp-validation-for="SelPrOraInizioEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrDataFineEsecuzione" class="control-label"></label>
                    <input asp-for="SelPrDataFineEsecuzione" class="form-control" />
                    <span asp-validation-for="SelPrDataFineEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrOraFineEsecuzione" class="control-label"></label>
                    <input asp-for="SelPrOraFineEsecuzione" class="form-control" />
                    <span asp-validation-for="SelPrOraFineEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrDataRefertazione" class="control-label"></label>
                    <input asp-for="SelPrDataRefertazione" class="form-control" />
                    <span asp-validation-for="SelPrDataRefertazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrOraRefertazione" class="control-label"></label>
                    <input asp-for="SelPrOraRefertazione" class="form-control" />
                    <span asp-validation-for="SelPrOraRefertazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdOperatoreEsecutore" class="control-label"></label>
                    <input asp-for="SelPrIdOperatoreEsecutore" class="form-control" />
                    <span asp-validation-for="SelPrIdOperatoreEsecutore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdUnitaEsecutrice" class="control-label"></label>
                    <input asp-for="SelPrIdUnitaEsecutrice" class="form-control" />
                    <span asp-validation-for="SelPrIdUnitaEsecutrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdPostazioneEsecutrice" class="control-label"></label>
                    <input asp-for="SelPrIdPostazioneEsecutrice" class="form-control" />
                    <span asp-validation-for="SelPrIdPostazioneEsecutrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrDurataEffettiva" class="control-label"></label>
                    <input asp-for="SelPrDurataEffettiva" class="form-control" />
                    <span asp-validation-for="SelPrDurataEffettiva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrCostoPrestazione" class="control-label"></label>
                    <input asp-for="SelPrCostoPrestazione" class="form-control" />
                    <span asp-validation-for="SelPrCostoPrestazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrNoteEsecuzione" class="control-label"></label>
                    <input asp-for="SelPrNoteEsecuzione" class="form-control" />
                    <span asp-validation-for="SelPrNoteEsecuzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrIdOperatorePianificatore" class="control-label"></label>
                    <input asp-for="SelPrIdOperatorePianificatore" class="form-control" />
                    <span asp-validation-for="SelPrIdOperatorePianificatore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrDataPianificazione" class="control-label"></label>
                    <input asp-for="SelPrDataPianificazione" class="form-control" />
                    <span asp-validation-for="SelPrDataPianificazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrOraPianificazione" class="control-label"></label>
                    <input asp-for="SelPrOraPianificazione" class="form-control" />
                    <span asp-validation-for="SelPrOraPianificazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrNote" class="control-label"></label>
                    <input asp-for="SelPrNote" class="form-control" />
                    <span asp-validation-for="SelPrNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPrMobilita" class="control-label"></label>
                    <input asp-for="SelPrMobilita" class="form-control" />
                    <span asp-validation-for="SelPrMobilita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
