@model ErpToolkit.Models.SIO.Patient.SelEpisodio
@{
    ViewData["Title"] = "Episodio Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "Episodio", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="EpCodEpisodio" class="control-label"></label>
                    <input asp-for="EpCodEpisodio" class="form-control" />
                    <span asp-validation-for="EpCodEpisodio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpIdPaziente" class="control-label"></label>
                    <input asp-for="EpIdPaziente" class="form-control" />
                    <span asp-validation-for="EpIdPaziente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpSesso" class="control-label"></label>
                    <input asp-for="EpSesso" class="form-control" />
                    <span asp-validation-for="EpSesso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpIdTipoEpisodio" class="control-label"></label>
                    <input asp-for="EpIdTipoEpisodio" class="form-control" />
                    <span asp-validation-for="EpIdTipoEpisodio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpStatoEpisodio" class="control-label"></label>
                    <input asp-for="EpStatoEpisodio" class="form-control" />
                    <span asp-validation-for="EpStatoEpisodio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpIdUnitaIngresso" class="control-label"></label>
                    <input asp-for="EpIdUnitaIngresso" class="form-control" />
                    <span asp-validation-for="EpIdUnitaIngresso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpDataInizio" class="control-label"></label>
                    <input asp-for="EpDataInizio" class="form-control" />
                    <span asp-validation-for="EpDataInizio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpOraInizio" class="control-label"></label>
                    <input asp-for="EpOraInizio" class="form-control" />
                    <span asp-validation-for="EpOraInizio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpDataFine" class="control-label"></label>
                    <input asp-for="EpDataFine" class="form-control" />
                    <span asp-validation-for="EpDataFine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpOraFine" class="control-label"></label>
                    <input asp-for="EpOraFine" class="form-control" />
                    <span asp-validation-for="EpOraFine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpCartellaPs" class="control-label"></label>
                    <input asp-for="EpCartellaPs" class="form-control" />
                    <span asp-validation-for="EpCartellaPs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpIdCorsia" class="control-label"></label>
                    <input asp-for="EpIdCorsia" class="form-control" />
                    <span asp-validation-for="EpIdCorsia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpIdReparto" class="control-label"></label>
                    <input asp-for="EpIdReparto" class="form-control" />
                    <span asp-validation-for="EpIdReparto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpLetto" class="control-label"></label>
                    <input asp-for="EpLetto" class="form-control" />
                    <span asp-validation-for="EpLetto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpStanza" class="control-label"></label>
                    <input asp-for="EpStanza" class="form-control" />
                    <span asp-validation-for="EpStanza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpIdDiagnosiAmmissione" class="control-label"></label>
                    <input asp-for="EpIdDiagnosiAmmissione" class="form-control" />
                    <span asp-validation-for="EpIdDiagnosiAmmissione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpIdDiagnosiDimissione" class="control-label"></label>
                    <input asp-for="EpIdDiagnosiDimissione" class="form-control" />
                    <span asp-validation-for="EpIdDiagnosiDimissione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpNote" class="control-label"></label>
                    <input asp-for="EpNote" class="form-control" />
                    <span asp-validation-for="EpNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpIdAttoAmministrativo" class="control-label"></label>
                    <input asp-for="EpIdAttoAmministrativo" class="form-control" />
                    <span asp-validation-for="EpIdAttoAmministrativo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpDataInizioLa" class="control-label"></label>
                    <input asp-for="EpDataInizioLa" class="form-control" />
                    <span asp-validation-for="EpDataInizioLa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpOraInizioLa" class="control-label"></label>
                    <input asp-for="EpOraInizioLa" class="form-control" />
                    <span asp-validation-for="EpOraInizioLa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpIdRepartoLa" class="control-label"></label>
                    <input asp-for="EpIdRepartoLa" class="form-control" />
                    <span asp-validation-for="EpIdRepartoLa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpDataInizioPreh" class="control-label"></label>
                    <input asp-for="EpDataInizioPreh" class="form-control" />
                    <span asp-validation-for="EpDataInizioPreh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpOraInizioPreh" class="control-label"></label>
                    <input asp-for="EpOraInizioPreh" class="form-control" />
                    <span asp-validation-for="EpOraInizioPreh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpIdRepartoPreh" class="control-label"></label>
                    <input asp-for="EpIdRepartoPreh" class="form-control" />
                    <span asp-validation-for="EpIdRepartoPreh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EpFaseEpisodio" class="control-label"></label>
                    <input asp-for="EpFaseEpisodio" class="form-control" />
                    <span asp-validation-for="EpFaseEpisodio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
