@model ErpToolkit.Models.SIO.Resource.Materiale
@{
    ViewData["Title"] = "Materiale Delete [" + (Model?.action ?? ' ') + "]";
    ViewData["TagHelper__READONLY_PAGE"] = "Y";
}
<div class="modal-dialog" role="document">
    @using (Html.BeginForm("Delete", "Materiale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titolo">@ViewData["Title"]</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    Sei proprio sicuro di voler cancellare il seguente record?
                    <div class="form-group">
                        <label asp-for="MtCodice" class="control-label"></label>
                        <input asp-for="MtCodice" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtDescrizione" class="control-label"></label>
                        <input asp-for="MtDescrizione" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtIdTipoRisorsa" class="control-label"></label>
                        <input asp-for="MtIdTipoRisorsa" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtCostoUnitarioUso" class="control-label"></label>
                        <input asp-for="MtCostoUnitarioUso" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtMisuraUnitariaUso" class="control-label"></label>
                        <input asp-for="MtMisuraUnitariaUso" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtNote" class="control-label"></label>
                        <input asp-for="MtNote" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtDisponibilita" class="control-label"></label>
                        <input asp-for="MtDisponibilita" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtTelefonoFornitore" class="control-label"></label>
                        <input asp-for="MtTelefonoFornitore" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtQuantitaDisponibile" class="control-label"></label>
                        <input asp-for="MtQuantitaDisponibile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtQuantitaMinimaMagazzino" class="control-label"></label>
                        <input asp-for="MtQuantitaMinimaMagazzino" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtUsoMedioGiornaliero" class="control-label"></label>
                        <input asp-for="MtUsoMedioGiornaliero" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtDataUltimoOrdine" class="control-label"></label>
                        <input asp-for="MtDataUltimoOrdine" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtQuantitaUltimoOrdine" class="control-label"></label>
                        <input asp-for="MtQuantitaUltimoOrdine" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtDataProssimoOrdine" class="control-label"></label>
                        <input asp-for="MtDataProssimoOrdine" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtQuantitaMediaOrdine" class="control-label"></label>
                        <input asp-for="MtQuantitaMediaOrdine" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MtCodiceNazionale" class="control-label"></label>
                        <input asp-for="MtCodiceNazionale" class="form-control" />
                    </div>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" onclick='updateModalWithContentForm(this, "@ViewData.TemplateInfo.HtmlFieldPrefix", "DeleteModale", @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model)))'>Elimina</button>
            </div>
        </div>
    }
</div>
