@using ErpToolkit.Extensions
@model IEnumerable<ErpToolkit.Models.SIO.HealthData.CategoriaDatoClinico>
@{
    ViewData["Title"] = "CategoriaDatoClinico List";
}
@Html.AntiForgeryToken()
<!--GESTISCE AZIONI CLICK PULSANTE-->
@Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
@Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
@Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
<br />
<table id="example" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CcCodice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CcDescrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CcNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CcIdGruppo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.CcCodice, "RedirectToNextPage", "Home", null, null, null, new { currentPage = "CategoriaDatoClinico", Cc1Icode = item.Cc1Icode}, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CcDescrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CcNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CcIdGruppo)
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="loadModalWithContent('EditModale','/CategoriaDatoClinico/Edit','@Html.DisplayFor(modelItem => item.Cc1Icode)')">Edit</a>
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="loadModalWithContent('DeleteModale','/CategoriaDatoClinico/Alert','@Html.DisplayFor(modelItem => item.Cc1Icode)')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>&shy;</p>
<p>&shy;</p>

@Html.Script(@<link href="~/lib/datatables/datatables.css" rel="stylesheet">)
@Html.Script(@<script src="~/lib/datatables/datatables.js"></script>)
@Html.Script(
    @<script>
        $(document).ready(function () {
            $("#example").DataTable({

                "responsive": false, // disabilita funzione che adatta tabella a pagina e visualizza rimanenti colonne sotto
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,

                "columns": [
                    { "visible": true, "data": "CcCodice", "name": "CcCodice", "title": "Codice", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "CcDescrizione", "name": "CcDescrizione", "title": "Descrizione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "CcNote", "name": "CcNote", "title": "Note", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "CcIdGruppo", "name": "CcIdGruppo", "title": "Id Gruppo", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "edit", "name": ".", "title": "<a href=\"#\"  class=\"btn btn-primary\" onclick=\"loadModalWithContent(\'EditModale\',\'/CategoriaDatoClinico/Edit\',\'\')\">Add</a>", "defaultContent": ".", "autoWidth": true, "searchable": false, "orderable": false },
                    { "visible": true, "data": "delete", "name": ".", "title": "", "defaultContent": ".", "autoWidth": true, "searchable": false, "orderable": false },
                ]

            });
        });
    </script>
)
