@using ErpToolkit.Extensions
@model IEnumerable<ErpToolkit.Models.SIO.HealthData.StatoSalute>
@{
    ViewData["Title"] = "StatoSalute List";
}
@Html.AntiForgeryToken()
<br />
<table id="example" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SsClasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsIdPaziente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsIdEpisodio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsIdTipoDatoClinico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsValoreMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsValoreMassimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsValoreScelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsValoreTesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsCodiceReferto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsDataAcquisizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsOraAcquisizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsStatoDatoClinico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsDataValidazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsOraValidazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SsSequenza)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SsClasse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsIdPaziente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsIdEpisodio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsIdTipoDatoClinico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsValoreMinimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsValoreMassimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsValoreScelta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsValoreTesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsCodiceReferto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsDataAcquisizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsOraAcquisizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsStatoDatoClinico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsDataValidazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsOraValidazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SsSequenza)
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="loadModalWithContent('EditModale','/StatoSalute/ReadForEdit','@Html.DisplayFor(modelItem => item.Ss1Icode)')">Edit</a>
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="loadModalWithContent('DeleteModale','/StatoSalute/ReadForDelete','@Html.DisplayFor(modelItem => item.Ss1Icode)')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>&shy;</p>
<p>&shy;</p>

@Html.Script(@<link href="~/lib/datatables/datatables.css" rel="stylesheet">)
@Html.Script(@<script src="~/lib/datatables/datatables.js"></script>)
@Html.Script(
    @<script>
        $(document).ready(function () {
            $("#example").DataTable({

                "responsive": false, // disabilita funzione che adatta tabella a pagina e visualizza rimanenti colonne sotto
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,

                "columns": [
                    { "visible": true, "data": "SsClasse", "name": "SsClasse", "title": "Classe", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsIdPaziente", "name": "SsIdPaziente", "title": "Id Paziente", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsIdEpisodio", "name": "SsIdEpisodio", "title": "Id Episodio", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsIdTipoDatoClinico", "name": "SsIdTipoDatoClinico", "title": "Id Tipo Dato Clinico", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsValoreMinimo", "name": "SsValoreMinimo", "title": "Valore Minimo", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsValoreMassimo", "name": "SsValoreMassimo", "title": "Valore Massimo", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsValoreScelta", "name": "SsValoreScelta", "title": "Valore Scelta", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsValoreTesto", "name": "SsValoreTesto", "title": "Valore Testo", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsNote", "name": "SsNote", "title": "Note", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsCodiceReferto", "name": "SsCodiceReferto", "title": "Codice Referto", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsDataAcquisizione", "name": "SsDataAcquisizione", "title": "Data Acquisizione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsOraAcquisizione", "name": "SsOraAcquisizione", "title": "Ora Acquisizione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsStatoDatoClinico", "name": "SsStatoDatoClinico", "title": "Stato Dato Clinico", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsDataValidazione", "name": "SsDataValidazione", "title": "Data Validazione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsOraValidazione", "name": "SsOraValidazione", "title": "Ora Validazione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "SsSequenza", "name": "SsSequenza", "title": "Sequenza", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "edit", "name": ".", "title": "<a href=\"#\"  class=\"btn btn-primary\" onclick=\"loadModalWithContent(\'EditModale\',\'/StatoSalute/ReadForEdit\',\'\')\">Add</a>", "defaultContent": ".", "autoWidth": true, "searchable": false, "orderable": false },
                    { "visible": true, "data": "delete", "name": ".", "title": "", "defaultContent": ".", "autoWidth": true, "searchable": false, "orderable": false },
                ]

            });
        });
    </script>
)
