@model ErpToolkit.Models.SIO.Costs.Diagnosi
@{
    ViewData["Title"] = "Diagnosi Delete";
}
<div class="modal-dialog" role="document">
    @Html.AntiForgeryToken()
    <!--GESTISCE AZIONI CLICK PULSANTE-->
    @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
    @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
    @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="titolo">@ViewData["Title"]</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                Sei proprio sicuro di voler cancellare il seguente record?
                <div class="form-group">
                    @Html.LabelFor(model => model.DgTipoDiagnosi, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DgTipoDiagnosi, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DgClasse, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DgClasse, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DgDescrizione, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DgDescrizione, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DgNote, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DgNote, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DgCodice, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DgCodice, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DgIdGruppo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DgIdGruppo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DgTipoDrg, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DgTipoDrg, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DgTipoIcd9, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DgTipoIcd9, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
            <button type="button" class="btn btn-primary" onclick='updateModalWithContent("DeleteModale","/Diagnosi/Delete",@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model)))'>Elimina</button>
        </div>
    </div>
</div>
