@model ErpToolkit.Models.SIO.Resource.SelPersonale
@{
    ViewData["Title"] = "Personale Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "Personale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="SelPeCodice" class="control-label"></label>
                    <input asp-for="SelPeCodice" class="form-control" />
                    <span asp-validation-for="SelPeCodice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeDescrizione" class="control-label"></label>
                    <input asp-for="SelPeDescrizione" class="form-control" />
                    <span asp-validation-for="SelPeDescrizione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeIdTipoRisorsa" class="control-label"></label>
                    <input asp-for="SelPeIdTipoRisorsa" class="form-control" />
                    <span asp-validation-for="SelPeIdTipoRisorsa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeCostoUnitarioUso" class="control-label"></label>
                    <input asp-for="SelPeCostoUnitarioUso" class="form-control" />
                    <span asp-validation-for="SelPeCostoUnitarioUso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeMisuraUnitariaUso" class="control-label"></label>
                    <input asp-for="SelPeMisuraUnitariaUso" class="form-control" />
                    <span asp-validation-for="SelPeMisuraUnitariaUso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeNote" class="control-label"></label>
                    <input asp-for="SelPeNote" class="form-control" />
                    <span asp-validation-for="SelPeNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeDisponibilita" class="control-label"></label>
                    <input asp-for="SelPeDisponibilita" class="form-control" />
                    <span asp-validation-for="SelPeDisponibilita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeTelefono" class="control-label"></label>
                    <input asp-for="SelPeTelefono" class="form-control" />
                    <span asp-validation-for="SelPeTelefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeCellulare" class="control-label"></label>
                    <input asp-for="SelPeCellulare" class="form-control" />
                    <span asp-validation-for="SelPeCellulare" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeNome" class="control-label"></label>
                    <input asp-for="SelPeNome" class="form-control" />
                    <span asp-validation-for="SelPeNome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeCognome" class="control-label"></label>
                    <input asp-for="SelPeCognome" class="form-control" />
                    <span asp-validation-for="SelPeCognome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeCodiceFiscale" class="control-label"></label>
                    <input asp-for="SelPeCodiceFiscale" class="form-control" />
                    <span asp-validation-for="SelPeCodiceFiscale" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelPeEmail" class="control-label"></label>
                    <input asp-for="SelPeEmail" class="form-control" />
                    <span asp-validation-for="SelPeEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
