@model ErpToolkit.Models.SIO.Resource.Personale
@{
    ViewData["Title"] = "Personale Edit [" + (Model?.action ?? ' ') + "]";
}
<div class="modal-dialog" role="document">
    @using (Html.BeginForm("Save", "Personale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titolo">@ViewData["Title"]</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label asp-for="PeCodice" class="control-label"></label>
                        <input asp-for="PeCodice" class="form-control" />
                        <span asp-validation-for="PeCodice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeDescrizione" class="control-label"></label>
                        <input asp-for="PeDescrizione" class="form-control" />
                        <span asp-validation-for="PeDescrizione" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeIdTipoRisorsa" class="control-label"></label>
                        <input asp-for="PeIdTipoRisorsa" class="form-control" />
                        <span asp-validation-for="PeIdTipoRisorsa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeCostoUnitarioUso" class="control-label"></label>
                        <input asp-for="PeCostoUnitarioUso" class="form-control" />
                        <span asp-validation-for="PeCostoUnitarioUso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeMisuraUnitariaUso" class="control-label"></label>
                        <input asp-for="PeMisuraUnitariaUso" class="form-control" />
                        <span asp-validation-for="PeMisuraUnitariaUso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeNote" class="control-label"></label>
                        <input asp-for="PeNote" class="form-control" />
                        <span asp-validation-for="PeNote" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeDisponibilita" class="control-label"></label>
                        <input asp-for="PeDisponibilita" class="form-control" />
                        <span asp-validation-for="PeDisponibilita" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeTelefono" class="control-label"></label>
                        <input asp-for="PeTelefono" class="form-control" />
                        <span asp-validation-for="PeTelefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeCellulare" class="control-label"></label>
                        <input asp-for="PeCellulare" class="form-control" />
                        <span asp-validation-for="PeCellulare" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeNome" class="control-label"></label>
                        <input asp-for="PeNome" class="form-control" />
                        <span asp-validation-for="PeNome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeCognome" class="control-label"></label>
                        <input asp-for="PeCognome" class="form-control" />
                        <span asp-validation-for="PeCognome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeCodiceFiscale" class="control-label"></label>
                        <input asp-for="PeCodiceFiscale" class="form-control" />
                        <span asp-validation-for="PeCodiceFiscale" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeEmail" class="control-label"></label>
                        <input asp-for="PeEmail" class="form-control" />
                        <span asp-validation-for="PeEmail" class="text-danger"></span>
                    </div>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" onclick='updateModalWithContentForm(this, "@ViewData.TemplateInfo.HtmlFieldPrefix", "EditModale", @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model)))'>Salva</button>
            </div>
        </div>
    }
</div>
