@model ErpToolkit.Models.SIO.Resource.SelFarmaco
@{
    ViewData["Title"] = "Farmaco Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "Farmaco", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="SelFmCodice" class="control-label"></label>
                    <input asp-for="SelFmCodice" class="form-control" />
                    <span asp-validation-for="SelFmCodice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmDescrizione" class="control-label"></label>
                    <input asp-for="SelFmDescrizione" class="form-control" />
                    <span asp-validation-for="SelFmDescrizione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmIdTipoRisorsa" class="control-label"></label>
                    <input asp-for="SelFmIdTipoRisorsa" class="form-control" />
                    <span asp-validation-for="SelFmIdTipoRisorsa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmCostoUnitarioUso" class="control-label"></label>
                    <input asp-for="SelFmCostoUnitarioUso" class="form-control" />
                    <span asp-validation-for="SelFmCostoUnitarioUso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmMisuraUnitariaUso" class="control-label"></label>
                    <input asp-for="SelFmMisuraUnitariaUso" class="form-control" />
                    <span asp-validation-for="SelFmMisuraUnitariaUso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmNote" class="control-label"></label>
                    <input asp-for="SelFmNote" class="form-control" />
                    <span asp-validation-for="SelFmNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmDisponibilita" class="control-label"></label>
                    <input asp-for="SelFmDisponibilita" class="form-control" />
                    <span asp-validation-for="SelFmDisponibilita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmQuantitaDisponibile" class="control-label"></label>
                    <input asp-for="SelFmQuantitaDisponibile" class="form-control" />
                    <span asp-validation-for="SelFmQuantitaDisponibile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmQuantitaMinimaMagazzino" class="control-label"></label>
                    <input asp-for="SelFmQuantitaMinimaMagazzino" class="form-control" />
                    <span asp-validation-for="SelFmQuantitaMinimaMagazzino" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmUsoMedioGiornaliero" class="control-label"></label>
                    <input asp-for="SelFmUsoMedioGiornaliero" class="form-control" />
                    <span asp-validation-for="SelFmUsoMedioGiornaliero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmDataUltimoOrdine" class="control-label"></label>
                    <input asp-for="SelFmDataUltimoOrdine" class="form-control" />
                    <span asp-validation-for="SelFmDataUltimoOrdine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmQuantitaUltimoOrdine" class="control-label"></label>
                    <input asp-for="SelFmQuantitaUltimoOrdine" class="form-control" />
                    <span asp-validation-for="SelFmQuantitaUltimoOrdine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmDataProssimoOrdine" class="control-label"></label>
                    <input asp-for="SelFmDataProssimoOrdine" class="form-control" />
                    <span asp-validation-for="SelFmDataProssimoOrdine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmQuantitaMediaOrdine" class="control-label"></label>
                    <input asp-for="SelFmQuantitaMediaOrdine" class="form-control" />
                    <span asp-validation-for="SelFmQuantitaMediaOrdine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmRiferimentiFornitore" class="control-label"></label>
                    <input asp-for="SelFmRiferimentiFornitore" class="form-control" />
                    <span asp-validation-for="SelFmRiferimentiFornitore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmCodiceNazionale" class="control-label"></label>
                    <input asp-for="SelFmCodiceNazionale" class="form-control" />
                    <span asp-validation-for="SelFmCodiceNazionale" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmCodiceAic" class="control-label"></label>
                    <input asp-for="SelFmCodiceAic" class="form-control" />
                    <span asp-validation-for="SelFmCodiceAic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmDataInizioAutorizzazione" class="control-label"></label>
                    <input asp-for="SelFmDataInizioAutorizzazione" class="form-control" />
                    <span asp-validation-for="SelFmDataInizioAutorizzazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelFmDataFineAutorizzazione" class="control-label"></label>
                    <input asp-for="SelFmDataFineAutorizzazione" class="form-control" />
                    <span asp-validation-for="SelFmDataFineAutorizzazione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
