@using ErpToolkit.Extensions
@model IEnumerable<ErpToolkit.Models.SIO.Act.TipoOrganizzazione>
@{
    ViewData["Title"] = "TipoOrganizzazione List";
}
@Html.AntiForgeryToken()
<!--GESTISCE AZIONI CLICK PULSANTE-->
@Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
@Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
@Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
<br />
<table id="example" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TzCodice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TzDescrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TzNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TzGruppo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TzSequenza)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.TzCodice, "RedirectToNextPage", "Home", null, null, null, new { provenienzaPagina = "TipoOrganizzazione", Tz1Icode = item.Tz1Icode}, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TzDescrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TzNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TzGruppo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TzSequenza)
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="loadModalWithContent('EditModale','/TipoOrganizzazione/ReadForEdit','@Html.DisplayFor(modelItem => item.Tz1Icode)')">Edit</a>
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="loadModalWithContent('DeleteModale','/TipoOrganizzazione/ReadForDelete','@Html.DisplayFor(modelItem => item.Tz1Icode)')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>&shy;</p>
<p>&shy;</p>

@Html.Script(@<link href="~/lib/datatables/datatables.css" rel="stylesheet">)
@Html.Script(@<script src="~/lib/datatables/datatables.js"></script>)
@Html.Script(
    @<script>
        $(document).ready(function () {
            $("#example").DataTable({

                "responsive": false, // disabilita funzione che adatta tabella a pagina e visualizza rimanenti colonne sotto
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,

                "columns": [
                    { "visible": true, "data": "TzCodice", "name": "TzCodice", "title": "Codice", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "TzDescrizione", "name": "TzDescrizione", "title": "Descrizione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "TzNote", "name": "TzNote", "title": "Note", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "TzGruppo", "name": "TzGruppo", "title": "Gruppo", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "TzSequenza", "name": "TzSequenza", "title": "Sequenza", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "edit", "name": ".", "title": "<a href=\"#\"  class=\"btn btn-primary\" onclick=\"loadModalWithContent(\'EditModale\',\'/TipoOrganizzazione/ReadForEdit\',\'\')\">Add</a>", "defaultContent": ".", "autoWidth": true, "searchable": false, "orderable": false },
                    { "visible": true, "data": "delete", "name": ".", "title": "", "defaultContent": ".", "autoWidth": true, "searchable": false, "orderable": false },
                ]

            });
        });
    </script>
)
