@using ErpToolkit.Extensions
@model IEnumerable<ErpToolkit.Models.SIO.Resource.TipoRisorsa>
@{
    ViewData["Title"] = "TipoRisorsa List";
}
@Html.AntiForgeryToken()
<br />
<table id="example" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TsCodice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TsClasseRisorsa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TsIdGruppo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TsDescrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TsNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TsUnitaDiMisura)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.TsCodice, "RedirectToNextPage", "Home", null, null, null, new { provenienzaPagina = "TipoRisorsa", Ts1Icode = item.Ts1Icode}, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TsClasseRisorsa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TsIdGruppo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TsDescrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TsNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TsUnitaDiMisura)
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="loadModalWithContent('EditModale','/TipoRisorsa/ReadForEdit','@Html.DisplayFor(modelItem => item.Ts1Icode)')">Edit</a>
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="loadModalWithContent('DeleteModale','/TipoRisorsa/ReadForDelete','@Html.DisplayFor(modelItem => item.Ts1Icode)')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>&shy;</p>
<p>&shy;</p>

@Html.Script(@<link href="~/lib/datatables/datatables.css" rel="stylesheet">)
@Html.Script(@<script src="~/lib/datatables/datatables.js"></script>)
@Html.Script(
    @<script>
        $(document).ready(function () {
            $("#example").DataTable({

                "responsive": false, // disabilita funzione che adatta tabella a pagina e visualizza rimanenti colonne sotto
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,

                "columns": [
                    { "visible": true, "data": "TsCodice", "name": "TsCodice", "title": "Codice", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "TsClasseRisorsa", "name": "TsClasseRisorsa", "title": "Classe Risorsa", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "TsIdGruppo", "name": "TsIdGruppo", "title": "Id Gruppo", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "TsDescrizione", "name": "TsDescrizione", "title": "Descrizione", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "TsNote", "name": "TsNote", "title": "Note", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "TsUnitaDiMisura", "name": "TsUnitaDiMisura", "title": "Unita Di Misura", "defaultContent": ".", "autoWidth": true },
                    { "visible": true, "data": "edit", "name": ".", "title": "<a href=\"#\"  class=\"btn btn-primary\" onclick=\"loadModalWithContent(\'EditModale\',\'/TipoRisorsa/ReadForEdit\',\'\')\">Add</a>", "defaultContent": ".", "autoWidth": true, "searchable": false, "orderable": false },
                    { "visible": true, "data": "delete", "name": ".", "title": "", "defaultContent": ".", "autoWidth": true, "searchable": false, "orderable": false },
                ]

            });
        });
    </script>
)
