@model ErpToolkit.Models.SIO.Act.Campione
@{
    ViewData["Title"] = "Campione Delete [" + (Model?.action ?? ' ') + "]";
    ViewData["TagHelper__READONLY_PAGE"] = "Y";
}
<div class="modal-dialog" role="document">
    @using (Html.BeginForm("Delete", "Campione", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titolo">@ViewData["Title"]</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    Sei proprio sicuro di voler cancellare il seguente record?
                    <div class="form-group">
                        <label asp-for="CpIdTipoCampione" class="control-label"></label>
                        <input asp-for="CpIdTipoCampione" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpDescrizione" class="control-label"></label>
                        <input asp-for="CpDescrizione" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpCodiceUnivoco" class="control-label"></label>
                        <input asp-for="CpCodiceUnivoco" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpDataPrelievo" class="control-label"></label>
                        <input asp-for="CpDataPrelievo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpOraPrelievo" class="control-label"></label>
                        <input asp-for="CpOraPrelievo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpNote" class="control-label"></label>
                        <input asp-for="CpNote" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpIdEpisodio" class="control-label"></label>
                        <input asp-for="CpIdEpisodio" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpIdPaziente" class="control-label"></label>
                        <input asp-for="CpIdPaziente" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpCodiceAssoluto" class="control-label"></label>
                        <input asp-for="CpCodiceAssoluto" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpStatoCampione" class="control-label"></label>
                        <input asp-for="CpStatoCampione" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpIdPosizioneAttuale" class="control-label"></label>
                        <input asp-for="CpIdPosizioneAttuale" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpDescPosizioneAttuale" class="control-label"></label>
                        <input asp-for="CpDescPosizioneAttuale" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpDataCambiamentoStato" class="control-label"></label>
                        <input asp-for="CpDataCambiamentoStato" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpOraCambiamentoStato" class="control-label"></label>
                        <input asp-for="CpOraCambiamentoStato" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CpNoteCambiamentoStato" class="control-label"></label>
                        <input asp-for="CpNoteCambiamentoStato" class="form-control" />
                    </div>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" onclick='updateModalWithContentForm(this, "@ViewData.TemplateInfo.HtmlFieldPrefix", "DeleteModale", @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model)))'>Elimina</button>
            </div>
        </div>
    }
</div>
