@model ErpToolkit.Models.SIO.Resource.SelAttrezzatura
@{
    ViewData["Title"] = "Attrezzatura Select";
}
<div class="row justify-content-start align-items-end">
    @using (Html.BeginForm("Index", "Attrezzatura", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="container">
            <div class="row justify-content-between align-items-end">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="AtCodice" class="control-label"></label>
                    <input asp-for="AtCodice" class="form-control" />
                    <span asp-validation-for="AtCodice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtDescrizione" class="control-label"></label>
                    <input asp-for="AtDescrizione" class="form-control" />
                    <span asp-validation-for="AtDescrizione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtIdTipoRisorsa" class="control-label"></label>
                    <input asp-for="AtIdTipoRisorsa" class="form-control" />
                    <span asp-validation-for="AtIdTipoRisorsa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtCostoUnitarioUso" class="control-label"></label>
                    <input asp-for="AtCostoUnitarioUso" class="form-control" />
                    <span asp-validation-for="AtCostoUnitarioUso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtMisuraUnitariaUso" class="control-label"></label>
                    <input asp-for="AtMisuraUnitariaUso" class="form-control" />
                    <span asp-validation-for="AtMisuraUnitariaUso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtNote" class="control-label"></label>
                    <input asp-for="AtNote" class="form-control" />
                    <span asp-validation-for="AtNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtDisponibilita" class="control-label"></label>
                    <input asp-for="AtDisponibilita" class="form-control" />
                    <span asp-validation-for="AtDisponibilita" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtTelefonoFornitore" class="control-label"></label>
                    <input asp-for="AtTelefonoFornitore" class="form-control" />
                    <span asp-validation-for="AtTelefonoFornitore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtNumeroSeriale" class="control-label"></label>
                    <input asp-for="AtNumeroSeriale" class="form-control" />
                    <span asp-validation-for="AtNumeroSeriale" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtRiferimentiAssistenza" class="control-label"></label>
                    <input asp-for="AtRiferimentiAssistenza" class="form-control" />
                    <span asp-validation-for="AtRiferimentiAssistenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtTelefonoAssistenza" class="control-label"></label>
                    <input asp-for="AtTelefonoAssistenza" class="form-control" />
                    <span asp-validation-for="AtTelefonoAssistenza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtDataUltimaManutenzione" class="control-label"></label>
                    <input asp-for="AtDataUltimaManutenzione" class="form-control" />
                    <span asp-validation-for="AtDataUltimaManutenzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtFrequenzaManutenzione" class="control-label"></label>
                    <input asp-for="AtFrequenzaManutenzione" class="form-control" />
                    <span asp-validation-for="AtFrequenzaManutenzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtUsoMedioGiornaliero" class="control-label"></label>
                    <input asp-for="AtUsoMedioGiornaliero" class="form-control" />
                    <span asp-validation-for="AtUsoMedioGiornaliero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AtDataProssimaManutenzione" class="control-label"></label>
                    <input asp-for="AtDataProssimaManutenzione" class="form-control" />
                    <span asp-validation-for="AtDataProssimaManutenzione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p><input type="submit" value="Ricarica" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
