@model ErpToolkit.Models.SIO.HealthData.TipoDatoClinico
@{
    ViewData["Title"] = "TipoDatoClinico Delete [" + (Model?.action ?? ' ') + "]";
}
<div class="modal-dialog" role="document">
    @Html.AntiForgeryToken()
    <!--GESTISCE AZIONI CLICK PULSANTE-->
    @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
    @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
    @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="titolo">@ViewData["Title"]</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                Sei proprio sicuro di voler cancellare il seguente record?
                <div class="form-group">
                    @Html.LabelFor(model => model.TcCodice, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TcCodice, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TcDescrizione, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TcDescrizione, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TcNote, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TcNote, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TcIdCategoriaDatoClinico, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TcIdCategoriaDatoClinico, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TcUnitaDiMisura, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TcUnitaDiMisura, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TcIdGruppo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TcIdGruppo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TcSequenza, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TcSequenza, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TcAttributi1, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TcAttributi1, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TcAttributi2, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TcAttributi2, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
            <button type="button" class="btn btn-primary" onclick='updateModalWithContent("DeleteModale","/TipoDatoClinico/Delete",@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model)))'>Elimina</button>
        </div>
    </div>
</div>
