@model ErpToolkit.Models.SIO.Patient.Paziente
@{
    ViewData["Title"] = "Paziente Delete [" + (Model?.action ?? ' ') + "]";
}
<div class="modal-dialog" role="document">
    @using (Html.BeginForm("Delete", "Paziente", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titolo">@ViewData["Title"]</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    Sei proprio sicuro di voler cancellare il seguente record?
                <div class="form-group">
                    @Html.LabelFor(model => model.PaCodFiscale, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaCodFiscale, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaCodSanitario, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaCodSanitario, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaNome, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaNome, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaCognome, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaCognome, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaSesso, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaSesso, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaDataNascita, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaDataNascita, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaOraNascita, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaOraNascita, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIdComuneNascita, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIdComuneNascita, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIdNazioneNascita, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIdNazioneNascita, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIdCittadinanza, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIdCittadinanza, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIndirizzoRes, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIndirizzoRes, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaNumCivicoRes, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaNumCivicoRes, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaCapRes, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaCapRes, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIdComuneRes, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIdComuneRes, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIdDistrettoRes, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIdDistrettoRes, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIdNazioneDom, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIdNazioneDom, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaMail, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaMail, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIndirizzoDom, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIndirizzoDom, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaNumCivicoDom, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaNumCivicoDom, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaCapDom, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaCapDom, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIdComuneDom, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIdComuneDom, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaTelefono, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaTelefono, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaCellulare, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaCellulare, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIdDistrettoDom, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIdDistrettoDom, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaNote, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaNote, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaDataDecesso, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaDataDecesso, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaOraDecesso, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaOraDecesso, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaIdNazioneRes, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PaIdNazioneRes, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" onclick='updateModalWithContentForm(this, "@ViewData.TemplateInfo.HtmlFieldPrefix", "DeleteModale", @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model)))'>Elimina</button>
            </div>
        </div>
    }
</div>
