@model ErpToolkit.Models.SIO.Costs.TipoDiagnosi
@{
    ViewData["Title"] = "TipoDiagnosi Edit [" + (Model?.action ?? ' ') + "]";
}
<div class="modal-dialog" role="document">
        @Html.AntiForgeryToken()
        <!--GESTISCE AZIONI CLICK PULSANTE-->
        @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
        @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
        @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titolo">@ViewData["Title"]</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label asp-for="TdCodice" class="control-label"></label>
                        <input asp-for="TdCodice" class="form-control" />
                        <span asp-validation-for="TdCodice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TdDescrizione" class="control-label"></label>
                        <input asp-for="TdDescrizione" class="form-control" />
                        <span asp-validation-for="TdDescrizione" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TdNote" class="control-label"></label>
                        <input asp-for="TdNote" class="form-control" />
                        <span asp-validation-for="TdNote" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TdIdGruppo" class="control-label"></label>
                        <input asp-for="TdIdGruppo" class="form-control" />
                        <span asp-validation-for="TdIdGruppo" class="text-danger"></span>
                    </div>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" onclick='updateModalWithContent("EditModale","/TipoDiagnosi/Save",@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model)))'>Salva</button>
            </div>
        </div>
</div>
