@model ErpToolkit.Models.SIO.Common.TipoRichiesta
@{
    ViewData["Title"] = "TipoRichiesta Edit";
}
<div class="modal-dialog" role="document">
    @Html.AntiForgeryToken()
    <!--GESTISCE AZIONI CLICK PULSANTE-->
    @Html.Hidden("IsModalACTION", @ViewData["IsModalACTION"])
    @Html.Hidden("IsPageACTION", @ViewData["IsPageACTION"])
    @Html.Hidden("IsPageREDIRECT", @ViewData["IsPageREDIRECT"])
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="titolo">@ViewData["Title"]</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label asp-for="TiCodice" class="control-label"></label>
                    <input asp-for="TiCodice" class="form-control" />
                    <span asp-validation-for="TiCodice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TiGruppo" class="control-label"></label>
                    <input asp-for="TiGruppo" class="form-control" />
                    <span asp-validation-for="TiGruppo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TiDescrizione" class="control-label"></label>
                    <input asp-for="TiDescrizione" class="form-control" />
                    <span asp-validation-for="TiDescrizione" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TiNote" class="control-label"></label>
                    <input asp-for="TiNote" class="form-control" />
                    <span asp-validation-for="TiNote" class="text-danger"></span>
                </div>
            </div>
            <br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
            <button type="button" class="btn btn-primary" onclick='updateModalWithContent("EditModale","/TipoRichiesta/Save",@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model)))'>Salva</button>
        </div>
    </div>
</div>
